<!doctype html>
<html lang="en" xmlns="www.thymeleavf.org">
<head>
	<meta charset="UTF-8" />
	<title>Exmaple of looping the items from the list</title>
</head>
<body>
	<h1>For Looping</h1>
	
	<h1 th:text="${allNames}"></h1>
	
	<ul>
	<li th:each="n : ${allNames}" >
		<span th:text="${n}"></span> 
	</li>
	</ul>
	
	<ul>
	<li th:each="n, status : ${allNames}" >
		<span th:text=" ${status.index}+ ' '+ ${n}"></span> 
	</li>
	</ul>
	
	<ul>
	<li th:each="n, status : ${allNames}" >
		<span 
		th:style="${status.odd} ? 'font-weight:bold' : 'font-style:italic'  " 
		th:text=" ${status.index}+ ' '+ ${n}"></span> 
	</li>
	</ul>
	
	
</body>
</html>